<div id="itens-content">
    <div id="lista-palavras">
        <ul id="listagem-palavras">
            @for(itens of listaPalavras; track $index){
            <li id='{{$index}}'>{{itens}}</li>
            }
        </ul>
    </div>

    <div id="matriz">
        <tbody>
            <tr *ngFor="let itemLinha of itens; let linhaIndex = index">
                <td *ngFor="let itemColuna of itemLinha; let colunaIndex = index"
                    (click)="marcaPalavraMatriz(linhaIndex, colunaIndex)"
                    id="{{linhaIndex}}-{{colunaIndex}}">
                    {{ itemColuna }}
                </td>
            </tr>
        </tbody>
    </div>

    <div id="opcoes">
        <button type="reset" class="btn btn-danger" (click)="gerarNovo()">Gerar novo</button>
        <button type="button" class="btn btn-danger" (click)="desistir()">Desistir</button>
    </div>
</div>