<div id="itens-content">
    <div id="lista-palavras">
        <ul>
            @for(itens of listaPalavras; track $index){
                <li>{{itens}}</li>
            }
        </ul>
    </div>

    <div id="matriz">
        <tbody>
            @for (itemLinha of itens; track $index) {
                <tr>
                    @for (itemColuna of itemLinha; track $index) {
                        <td>{{itemColuna}}</td>
                    }
                </tr>
            }
        </tbody>
    </div>

    <div id="opcoes">
        <button type="reset" class="btn btn-danger">Gerar novo</button>
        <button type="button" class="btn btn-danger">Desistir</button>
    </div>
</div>
